<% include partials/header %>
<h1>Landing</h1>

<br><br>
<p>Welcome to YelpCamp!!</p>
<br><br>

<a href="campgrounds"> view camp sites</a><br>
<a href="campgrounds/new"> create campgrounds</a>
<% include partials/footer %>