<h1>this is the search page </h1>
<form action ="/results" method= "GET">
    <input type="text" placeholder="enter the search term" name="search">
    <input type="submit">
</form>

<style>
body {background-color: Black;}
h1   {color: Red;}
li    {color: yellow;}

</style>

