

<h1>heading</h1>

<p>you fell in love with  : <%= thing3.toUpperCase() %> </p>

<% if(thing3.toLowerCase() === "rusty") {%>
    <h3> good JOB</h3>
<% } else {%>
    <h3>bad JOB</h3>
<% } %>

<% include partials/footer%>